:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
}
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}
/*шапка*/
.header-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.header-nav a:hover, 
.header-nav a:focus {
    color: #2196F3;
}
.header-list a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header-list a:hover,
.header-list a:focus {
    color: #2196F3;
}

/*Кнопки*/
.btn {
    color: var(--primary-text-color);
}
.btn:hover,
.btn:focus {
    color: #ffffff;
    background-color: #2196F3;
}

/*Футер*/
.footer-list a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.footer-list a:hover,
.footer-list a:focus {
    color: #2196F3;
}
